/*Mapbox-related styles*/
@import "_config.scss";
$map-height-default: 650px;
$map-height-mobile: $map-height-default * 0.85;
$map-height-tablet: $map-height-default * 0.9;

div {
  .mapboxgl-missing-css {
    display: none;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
  }
  .mapboxgl-ctrl-logo {
    display: none
  }

  .map-container {
    top: 0;
    bottom: 0;
    width: 100%;
    height: $map-height-default;
    @media screen and (max-width: $mobile-size) {
      height: $map-height-mobile;
    }
    @media screen and (min-width: $mobile-size + 1) and (max-width: $tablet-size) {
      height: $map-height-tablet;
    }
  }

  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    margin: 15px;
  }

  .mapboxgl-popup-tip {
    border: 5px solid transparent;
  }

  .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    text-align: center;
    margin: 0;

    p {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }

    .mapboxgl-popup-content {
      padding: 5px 10px;
    }

    .map-icon {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  }

  canvas {
    .mapboxgl-canvas {
      height: $map-height-default;
      @media screen and (max-width: $mobile-size) {
        height: $map-height-mobile;
      }
      @media screen and (min-width: $mobile-size + 1) and (max-width: $tablet-size) {
        height: $map-height-tablet;
      }
    }
  }
}
