/*Mapbox-related styles*/
@import "_config.scss";
$map-height-default: 620px;
$map-height-mobile: $map-height-default * 0.85;
$map-height-tablet: $map-height-default * 0.9;

div {
  .mapboxgl-missing-css {
    display: none;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
  }
  .mapboxgl-ctrl-logo {
    display: none
  }

  .map-container {
    top: 0;
    bottom: 0;
    width: 100%;
    height: $map-height-default;
    @media screen and (max-width: $mobile-size) {
      height: $map-height-mobile;
    }
    @media screen and (min-width: $mobile-size + 1) and (max-width: $tablet-size) {
      height: $map-height-tablet;
    }
  }

  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    margin: 15px;
  }

  .mapboxgl-popup-tip {
    border: 5px solid transparent;
  }

  .mapboxgl-popup.mapboxgl-popup-anchor-bottom {
    text-align: center;
    margin: 0;

    p {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }

    .mapboxgl-popup-content {
      padding: 5px 10px;
      width: 100%;
      text-align: center;
    }

    .map-icon {
      content: ' ';
      width: 38px;
      height: 38px;
      margin: 5px 5px 2px 5px;
    }

    .current-location {
      position: absolute;
      width: 100%;
      height: 10px;
      bottom: -12px;
      text-align: center;
      z-index: -1;

      .location-pin {
        &:before {
          content: ' ';
          position: relative;
          margin: auto;
          display: block;
          width: 10px;
          height: 10px;
          background-color: #1252a5;
          border-radius: 50%;
        }

        &:after {
          content: ' ';
          position: relative;
          display: block;
          margin: auto;
          width: 10px;
          height: 10px;
          background-color: #1252a5;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
          -webkit-animation-name: 'ripple';
          -webkit-animation-duration: 1.2s;
          -webkit-animation-timing-function: ease;
          -webkit-animation-delay: 0s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
        }
      }

    }
  }

  canvas {
    .mapboxgl-canvas {
      height: $map-height-default;
      @media screen and (max-width: $mobile-size) {
        height: $map-height-mobile;
      }
      @media screen and (min-width: $mobile-size + 1) and (max-width: $tablet-size) {
        height: $map-height-tablet;
      }
    }
  }
}
